*{
    margin: 0;
    padding: 0;
    list-style:none;
    line-height: 1;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body{
    display: absolute;
}
#contenedor{
    position: absolute;
    left: 0;
    top: 0;       
    right: 0;  
}
#cronometro{
    text-align:center;
    margin-top: 60px;
}

.label-epis{
    font-size: 22px;
    color: #93599f;
    margin: 0;
    line-height: 1;
}

.logo {
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 1000;
}

.button-principales {    
    position: relative;   
    display: block;
    width: 100vw; 
    padding: 15px;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Roboto';
}

.button-principales {
    margin-top: 0px;
}

.button-principal-quiz{
    background-color: #6c236d;
    margin-bottom: -10px;
}

.button-principal-kit{
    background-color: #3e1a44;
    padding: 26px 15px 14px 15px;
}

.button-principales:first-of-type {
    margin-bottom: -15px;
    z-index: 2;
}

.button-principales:last-of-type {
    z-index: 1;
}

#pasos-a_seguir{
    font-family: 'Righteous';
}

.h1test {
    position: relative;
    font-size: 22px;
    color: #6c236d;
    margin-top: 30px;
    display: inline-block;
    margin-left: 15px;
}

.h1test::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 140%;
    height: 4px;
    background-color: #a26da5;
    border-radius: 2px;
    margin-left: -20px;
}


.video-container {
    text-align: center;
    margin: 0 auto;
    width: 100vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-wrapper {
    position: relative;
    width: 100%;
    max-width: 800px;
    min-height: 200px;
    max-height: 400px;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.video-title {
    position: relative;
    font-size: 22px;
    color: white;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 15px;
}

.acudir-title {
    position: relative;
    font-size: 22px;
    color: #6c236d;
    margin-left: 15px;
    margin-bottom: 25px;
    display: inline-block;
}

.acudir-title::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #a26da5;
    border-radius: 2px;
}

.acudir-container-video {
    text-align: center;
    margin: 0 auto;
    width: 100vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acudir-container {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    max-width: 700px;
}

.acudir-wrapper {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 10px;
}

.acudir-title2 {
    position: relative;
    font-size: 40px;
    color: #b21eba;
    margin-left: 15px;
    margin-bottom: 25px;
    display: inline-block;
}

.acudir-wrapper2 {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 10px;
    color: #c872c6;
    margin-bottom: 40px;
}


#btn-descargar{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 80%;
    padding: 12px;
    background-color: #1d2c3f;
    color: white;
    border: none;
    font-size: 25px;
    padding: 7px 10px 7px 10px;
    cursor: pointer;
    max-width: 400px;
}

form {
    max-width: 800px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.label-purpura {
    font-size: 16px;
    margin-bottom: 5px;
    color: #8e5fa0;
}

.label-azul {
    font-size: 16px;
    margin-bottom: 5px;
    color: #798cae;
}

.carousel-select-container {
    width: calc(100vw - 10px);
    max-width: 800px;          /* se ajusta al ancho del form */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: 30px;
    align-items: flex-start;
}

.carousel-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 15px;
    padding: 10px 0;
    width: 100%;
    border-radius: 10px;
    scrollbar-width: none; /* oculta scrollbar en Firefox */
    cursor: grab;
}

.carousel-wrapper:active {
    cursor: grabbing;
}

/* Oculta scrollbar en WebKit (Chrome, Safari, Edge) */
.carousel-wrapper::-webkit-scrollbar {
    display: none;
}

.carousel-option {
    flex: 0 0 auto;
    scroll-snap-align: center;
    background-color: #93599f;
    color: white;
    padding: 15px 40px;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
}

.carousel-option2 {
    background-color: #798cad !important;
}

.carousel-option2:hover {
    background-color: #3e1a44 !important;
}

.carousel-option2.selected {
    background-color: #3e1a44 !important;
    box-shadow: 0 0 10px rgba(241, 187, 252, 0.6) !important;
}

.carousel-option:hover {
    background-color: #b56cc2;
    transform: scale(1.05);
}

.carousel-option.selected {
    background-color: #3e1a44;
    box-shadow: 0 0 10px rgba(147, 89, 159, 0.6);
}
