body {
    margin: 0;
    font-family: 'Roboto';
}

.register-container {
    background-color: #ba8cc4;
    padding: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;   
    right: 0;  
    bottom: 0;   
}

form {
    max-width: 400px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    gap: 15px;
}

.register-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    color: white;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #814a8e;
}

.btn-continue {
    width: 100%;
    padding: 12px;
    background-color: #814a8e;
    color: white;
    border: none;
    border-radius: 13px;
    font-size: 24px;
    padding: 7px 10px 7px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-continue:hover {
    background-color: #814a8e;
}

.btn-continue:active {
    transform: translateY(1px);
}

#label-epis{
    font-size: 40px;
    color: white;
    font-weight: bold;
    margin: 0;
    line-height: 1;
}
