.acudir-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #93599f;
    border-radius: 0 0 80px 80px;
    padding: 20px;
    gap: 15px;
}

.image-cerebro {
    width: 50px;
    height: auto;
}

.label-epis {
    font-size: 30px;
    color: white;
    font-weight: bold;
}

#contenedor{
    position: absolute;
    left: 0;
    top: 0;       
    right: 0;  
    margin-top: 80px;
    text-align:center;
}

#formulario{
    text-align:left;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#pasos_a_seguir{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    max-width: 600px;
}

.acudir-wrapper {
    color: #b386b7;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 10px;
}

.h1test {
    position: relative;
    font-size: 22px;
    color: #93599f;
    margin-bottom: 20px;
    display: inline-block;
}

.h1test::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #93599f;
    border-radius: 2px;
}

.h1test2 {
    position: relative;
    font-size: 22px;
    color: #41526b;
    margin-bottom: 20px;
    display: inline-block;
}

.h1test2::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #798cad;
    border-radius: 2px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #41526b;
}

input[type="text"],
input[type="date"],
input[type="time"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #814a8e;
}

textarea:focus {
    outline: none;
    border-color: #814a8e;
}

.btn-continue {
    width: 100%;
    padding: 12px;
    background-color: #1d2c3f;
    color: white;
    border: none;
    border-radius: 13px;
    font-size: 22px;
    padding: 7px 10px 7px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 30px;
}

.btn-continue:hover {
    background-color: #1d2c3f;
}

.btn-continue:active {
    transform: translateY(1px);
}

#numero_emergencia{
    text-align: center;
    color: #41526e;
    margin-top: 20px;
    align-items: center;
}