<link rel="stylesheet" href="~/css/inicio/inicio.css" />

<div class="decoraciones">
  <div class="circulo-superior"></div>
  <div class="circulo-inferior"></div>
</div>

<div class="contenido">
  <img class="image-cerebro" id="inicio_cerebro" src="../images/cerebro-morado.png" class="image-cerebro" alt="Cerebro" width="110">
  <div class="titulo" id="inicio_titulo">Episense</div>
  <button class="boton-1" id="btn_ingresar">INGRESAR</button>
  <button class="boton-2" id="btn_registrarse">REGÍSTRATE</button>
</div>

<script src="~/js/inicio/inicio.js"></script>