<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/inicio/ingresar.css" />

<div class="contenedor-pantalla">
    <div class="bloque-superior">
        <div class="icono">
        <img class="image-cerebro" src="../images/cerebro-blanco-barrita.png" class="image-cerebro" alt="Cerebro" width="140">
        </div>
        <h1 class="texto-kit">KIT EN<br>ACCIÓN</h1>
    </div>
    <div class="espacio"></div>
    <div class="bloque-inferior">
        <h1 class="texto-kit">CONECTA QUIZ</h1>
    </div>
</div>

<script src="~/js/inicio/ingresar.js"></script>