@{
    int total = ViewBag.TotalCorrectas;
    int totalPreguntas = ViewBag.TotalPreguntas;
}

<link rel="stylesheet" href="~/css/inicio/resultados.css" />

<div class="resultado-container">
    <div class="nivel-container">
        @for (int i = totalPreguntas; i >= 0; i--)
        {
            @if (i == totalPreguntas)
            {
                <img src="~/images/trofeo.png" class="trofeo" alt="Trofeo"  width="180" />
            }

            <div class="nivel @(i == total ? "nivel-actual" : "")">

                @if (i == total)
                {
                    <img src="~/images/cerebro-feliz.png" class="cerebro" alt="Cerebro" />
                }
                <span>NVL. @i</span>
            </div>
        }
        <div class="nivel resultado-final">
            <p>RESULTADOS</p>
            <p>@total / @totalPreguntas</p>
        </div>
    </div>

    <button onclick="window.location.href='@Url.Action("Quiz", "Home")'" class="btn-volver">← Atrás</button>
</div>